.page-content {
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  line-height: 1.6rem;
}

/* Título principal */
h1 {
  font-size: 1.7rem;        /* Más pequeño y elegante */
  margin-bottom: 1rem;
  color: #2c3e50;
  font-weight: 600;
}

/* Subtítulos */
h2 {
  font-size: 1.25rem;       /* Mucho más proporcionado */
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  color: #16a085;
  font-weight: 500;
}

/* Párrafos */
p {
  font-size: 1.05rem;
  margin-bottom: 0.8rem;
  color: #444;
}

/* Lista de valores */
.valores-lista {
  text-align: left;
  display: inline-block;
  font-siz
